.encabezado {
    text-align: center;
    margin: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    color: rgb(248, 250, 250);
    border-radius: 15px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0);
    text-shadow: 0px 0px 4px;
    position: relative;
    z-index: 10;
}

body {
    background: linear-gradient(90deg, #30003d, #67118b);
    
}

.botones {
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 35%;
    z-index: 1;
}

.boton {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    width: 100%;
}

.boton:hover {
    transform: scale(0.95);
}
.contenedor {
    position: relative;
    width: 90%;
    max-width: 80%;
    margin: -60px auto 0 auto;
    margin-right: 120px;

}
.imagen {
    position: relative;
    width: 100%;
    
}

.imagen img {
    width: 100%;
    height: auto;
    display: relative;
    
}

.pantalla {
    position: absolute;
    top: 45%;    
    left: 50%;
    transform: translateX(-50%); 
    width: 50%;  
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 5px;
}

.slot {
    width: 20%; 
    aspect-ratio: 1/1;
    max-width: 120px;
    background-color: rgba(176, 7, 243, 0);
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid darkgoldenrod;
}

.slot img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@keyframes girarSlot {
    0% {
        transform: rotateX(0deg);
        filter: blur(0px);
    }
    50% {
        transform: rotateX(360deg);
        filter: blur(3px);
    }
    100% {
        transform: rotateX(720deg);
        filter: blur(0px);
    }
}

.slot.spin {
    animation: girarSlot 0.8s ease-in-out;
}


.mensaje {
    position: absolute;  
    width: auto;
    text-align: center;
    font-size: 1.2em;
    z-index: 2;
}

.tabla {
    position: absolute;
    top: 150px;
    right: 50px;
    background-color: rgb(119, 135, 206);
    border-radius: 10px;
    z-index: 10;
}
